@model List<T2_ESCATE_ALEXANDER.Models.Distribuidor>

@{
    ViewData["Title"] = "DistribuidoresPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DistribuidoresPeru</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>Teléfono</th>
            <th>Año de Inicio</th>
            <th>Contacto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var distribuidor in Model)
        {
            <tr>
                <td>@distribuidor.NombreDistribuidor</td>
                <td>@distribuidor.RazonSocial</td>
                <td>@distribuidor.Telefono</td>
                <td>@distribuidor.Año</td>
                <td>@distribuidor.Contacto</td>
            </tr>
        }
    </tbody>
</table>